html
	head
		title
		body
			div.wrapper
				div.content
					div.container
						// aside content
						aside.unchange
							// logo
							div.logowrap
								div.logo
							// logo end
							// form
							form.formblock
								h3.formblock__name Заказать звонок
								label.formblock__label Ваше имя
								input.formblock__inputs
								label.formblock__label Телефон
								input.formblock__inputs
								label.formblock__label Date
								input.formblock__inputs
								textarea.formblock__textarea
								input.formblock__inputs-bottom
								input.formblock__inputs-bottom
							//form end
							// Gallery begin
							div.gallery-wrap
								div.gallery
									div.gallery__item-wrap
										div.gallery__item-image
									div.gallery__item-wrap
										div.gallery__item-image
									div.gallery__item-wrap
										div.gallery__item-image
									div.gallery__item-wrap
										div.gallery__item-image
									div.gallery__item-wrap
										div.gallery__item-image
									div.gallery__item-wrap
										div.gallery__item-image
									div.gallery__item-wrap
										div.gallery__item-image
									div.gallery__item-wrap
										div.gallery__item-image
							//gallery end
							//contacts begin
							div.contacts-wrap
								div.contacts
									p.contacts__item.contacts__item-adress Адрес
									p.contacts__item.contacts__item-phone Телефон
							//contacts end
						// aside content end
						// main block
						section.change-content
							//slider
							article.slider-wrap
								div.slider
									div.slider__content
							//slider end
							//popular goods
							h2.titles-style Популярные товары
							article.pop-goods-wrap
								div.pop-goods
									div.pop-goods__item-wrapper
										div.pop-goods__item
								div.pop-goods
									div.pop-goods__item-wrapper
										div.pop-goods__item
								div.pop-goods
									div.pop-goods__item-wrapper
										div.pop-goods__item
							//popular goods end
							//goods width sale
							h2.titles-style Популярные товары
							article.pop-goods-wrap
								div.pop-goods
									div.pop-goods__item-wrapper
										div.pop-goods__item
								div.pop-goods
									div.pop-goods__item-wrapper
										div.pop-goods__item
								div.pop-goods
									div.pop-goods__item-wrapper
										div.pop-goods__item
							//doods width sale end
					//footer begin
					footer.footer
						//bottom logo
						div.bottom-logo-wrap
							div.bottom-logo
						//bottom logo end
						// footer links
						div.footer-links
							div.links-wrap
								p. О магазине
								ul.shop
									li.shop__item 
										a.shop__item__links О Нас
									li.shop__item 
										a.shop__item__links Наши цены
									li.shop__item 
										a.shop__item__links Наши скидки
									li.shop__item 
										a.shop__item__links Акции
							div.links-wrap
								p. Каталог
								ul.shop
									li.shop__item 
										a.shop__item__links Смартфоны
									li.shop__item 
										a.shop__item__links Планшеты
									li.shop__item 
										a.shop__item__links Компьютеры
									li.shop__item 
										a.shop__item__links Аксессуары
							div.links-wrap
								p. Контакты
								ul.shop
									li.shop__item 
										a.shop__item__links Телефоны
									li.shop__item 
										a.shop__item__links Адреса
									li.shop__item 
										a.shop__item__links Карта проезда
									li.shop__item 
										a.shop__item__links Обратная связь
						div.social-wrap
							div.social-wrap
								div.social
									div.social__app
									div.social__gplay
									div.cocial__vk
									div.social__fb
									div.social__tw
